body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}
h4 {
  color: red;
  text-align: center;
}
label {
  margin-top: 5rem;
  display: block;
  text-align: center;
  line-height: 100%;
  font-size: 0.85em;
}
input {
  display: block;
  text-align: center;
}
button {
  display: block !important;

  margin: auto !important;
}
